body {
	background-color: gold !important;
	margin: 0px;
}
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
header {
	padding-top: 30px;
}
header, footer {
	background-color: firebrick; 
	color: black;
	height:100px;
	text-align: center;
}
nav {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-bottom: 18px;
}
hr {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
nav i {
	display: block;
	margin: 20px;
	float: left;
}
nav a{
	background-color: black;
	color: white;
	padding: 8px;
	border: thin solid #0d1f2d;
	text-decoration: none;
	text-align: center;
	display: block;
	margin: 20px;
	width: 100px;
	float: left;
}
#main-header {
	margin-bottom:0px;
}
label {
    text-align: right;
}
a {
	text-decoration: none !important;
}
nav a:hover {
	background-color: firebrick;
	color: black;
	font-weight: bold;
}

nav a:active {
	font-weight: bold;
}
.round-button {
	border-radius: 50%;
	width: 75px;
	height: 75px;
	line-height: 1.428571429;
	text-align: center;
	padding: 22px 0px;
}
.clear-float {
	clear: both;
}
article {
	text-align: center;
}
article {
	margin-bottom: 30px;
}
.input-width {
	width:350px;
}
.input-width {
    max-width: 300px;
}
#grad {
    background-image: linear-gradient(to bottom right, red, yellow);
}
caption {
	font-weight:bold;
	font-size: 1.2em;
	margin-bottom: 8px;
}
table, th, td {
	border: 1px solid #0d1f2d;
	border-collapse: collapse;
	padding: 5px 10px;
}
table {
	width: 90%;
	margin: auto;
}
tr {
	height: 30px;
	background-color: black;
	color: white;
}
th {
	background-color: firebrick;
	color: white;
}
	
/* Form styling */
label, fieldset {
	font-size: 1.1em;
}
.submit-button{
	background-color: firebrick;
}
.input-radio {
	margin-right: 5px;
}
.input-checkbox {
	margin-left: 5px;
}
#home-button {
	background-color: transparent;
	border-style: none;
	color: firebrick;
}
#home-button:hover {
	background-color: transparent;
	border-style: none;
	color: black;
}

